.nav-container {
    width: 100%;
    height: 100px;
    background-color: #111;
}
nav {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    background-color: #111;
    
}

ul {
    display: flex;
    height: 100%;
    margin: 0px;
}

nav li {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 0 .4em;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 10px;
}

.box {
    height: 1500px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
  }
  
  .modal {
    background-color: white;
    padding: 20px;
  }
  .login-link {
    margin-left: auto; 
  }
  .sub-menu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: #111; 
    font-size: 12px;
    text-align: center;
    height: auto;
  }
  
  .login-link {
    font-size: 24px;
    position: relative;
  }
  
  .login-link:hover .sub-menu {
    display: block; 
  }
  
@keyframes nav-scrooled {
    0% {
        background-color: #111;
    }

    100% {
       background-color: black;
    }
    
}

@keyframes nav-scrooled-reverse {
    0% {
        background-color: black;
    }

    100% {
      background-color: #111;
    }
    
}

.nav-scrooled {
    animation: nav-scrooled 0.5s ease-in forwards; 
}
.nav-scrooled-reverse {
    animation: nav-scrooled-reverse 0.5s ease-in forwards;
}


